.wrap-accoridon {
  margin-bottom: 8px;

  .wrap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--beige);
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;

    .ico-arrow-down {
      width: 20px;
      height: 20px;
    }
  }

  .wrap-content {
    display: none;
    padding: 7px 10px;
  }
}

.wrap-accoridon.open {
  .wrap-header {
    .ico-arrow-down {
      transform: rotate(-180deg); // 화살표 방향 바꾸기
    }
  }
  .wrap-content {
    display: block;
  }
}
